
img.bottom-space {
    margin-bottom: 20px;
    margin-top: 20px;
}


figure img {
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 2px;
}


.center-text {
    text-align: center;
}

.center-text ul {
    display: inline-block !important; 
    list-style-position: inside !important; 
    padding-left: 0 !important; 
    margin: 0 auto !important;
}

.center-text li {
    text-align: center !important; 
}
